{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maseno OLX</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animsition.min.css' %}">
    <link rel="stylesheet" href="{% static 'item_image.css' %}">
    <link href="{% static 'admin_static/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

     <!-- Favicon -->

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'slider/style.css' %}">


</head>   
   

<body>
   {% include 'admin_template/header.html' %}

     <!-- Instagram Feed Area -->
    <section class="follow-area clearfix">
      
        <div class="b instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
            {% for item in recently_uploded_items %}
            <div class="single-instagram-item">
                <img src="{{ item.item_image.url  }}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            {% endfor %}  
        </div>   
    </section>
     
    <center><b><p>Recommended for you<p></b></center>
  <hr>
  <div style=" border-top-width: 10px !important;">
    
     <div  class="row">
         {% for item in recommended_uploded_items %}

          <a href="{{ item.get_absolute_url }}">
            <div  class="col-lg-4 col-md-4" >
            
              <figure style="width: 130px !important;" >
                <img src="{{ item.item_image.url  }}" alt="{{ item.item_descrition }}" class="img-fluid">
               
                   
              </figure>
              

            </div>
          </a>

         {% endfor %}


          
        </div>
      
      
        <!-- END row -->
      </div>
      </center>
      <hr>
    </section>
   
<section>
  
    <center><b><p class="bg-gradient-primary" style="background-color: #ff5733; color: white;">Recently Added<p></b></center>
  <hr>
  <div style=" border-top-width: 10px !important;">
    
     <div  class="row">
         {% for item in recently_uploded_items %}

          <a href="{{ item.get_absolute_url }}">
            <div  class="col-lg-4 col-md-4" >
            
              <figure style="width: 130px !important;" >
                <img src="{{ item.item_image.url  }}" alt="{{ item.item_descrition }}" class="img-fluid">
               
                   
              </figure>
              

            </div>
          </a>

         {% endfor %}


          
        </div>
      
      
        <!-- END row -->
      </div>
      </center>
      <hr>
    </section>
   

    <section>
  
    <center><b><p class="bg-gradient-primary" style="color: white;">Today's Featured<p></b></center>
  <hr>
  <div style=" border-top-width: 10px !important;">
    
     <div  class="row">
         {% for item in  featured_uploded_items %}

          <a href="{{ item.get_absolute_url }}">
            <div  class="col-lg-4 col-md-4" >
            
              <figure style="width: 130px !important;" >
                <img src="{{ item.item_image.url  }}" alt="{{ item.item_descrition }}" class="img-fluid">
               
                   
              </figure>
              

            </div>
          </a>

         {% endfor %}


          
        </div>
      
      
        <!-- END row -->
      </div>
      </center>
      <hr>
    </section>
  
     
   

  </body>

 
  
   
   


